# Ignore everything in .storage
.storage/*
# Except these
!.storage/input*
!.storage/lovelace*
!.storage/broadlink*

# Ignore folders
.cloud
.google.token
tts
database

# Ignore logs
home-assistant.log
home-assistant.log.1
home-assistant.log.fault

# Ignore databases
zigbee.db*
home-assistant_v2.db*

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml