{% macro relative_age(datetime_obj) %}

{% set time_units = {'second': 's', 
                     'seconds': 's', 
                     'minute': 'min', 
                     'minutes': 'min', 
                     'hour': 'h', 
                     'hours': 'h',
                     'day': 'd',
                     'days': 'd'} %}
{% set output_str = relative_time(datetime_obj).split() %}
{{ output_str[0] + time_units.get(output_str[-1], ' ' + output_str[-1]) }} ago

{% endmacro %}

{% macro run_time(start_time_obj, end_time_obj, trunc) %}

{% if end_time_obj > start_time_obj %}
  {{ ((end_time_obj - start_time_obj) | string)[:trunc] }}
{% else %}
  Running
{% endif %}

{% endmacro %}