{% macro bus_operating(json, target_service) %}
{% set operating = namespace(result = false) %}
{% if json['Services'] is defined %}
    {% if json['Services'] | length > 0 %}
        {% for service in json['Services'] %}
            {% if service['ServiceNo'] == target_service %}
                {% if service['NextBus'] is defined %}
                    {% if service['NextBus']['EstimatedArrival'] is defined
                       and service['NextBus']['Load'] is defined
                       and service['NextBus']['Type'] is defined %}
                        {% if service['NextBus']['EstimatedArrival'] | length > 0 
                           and service['NextBus']['Load'] in ['SEA','SDA','LSD']
                           and service['NextBus']['Type'] in ['SD','DD','BD'] %}
                            {% set operating.result = true %}
                            {% break %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endif %}
{{ operating.result }}
{% endmacro %}