{% macro raining_with_window_open(window_id) %}
{% if is_state(window_id, 'on') %}
    {% if states('sensor.local_rainfall') | float(0) > 1 
       or 'Thunder' in states('sensor.local_two_hour_forecast') %}
        {{ 'alert' }}
    {% elif states('sensor.local_rainfall') | float(0) > 0 
       or 'Shower' in states('sensor.local_two_hour_forecast')
       or 'Rain' in states('sensor.local_two_hour_forecast') %}
        {{ 'warning' }}
    {% else %}
        {{ 'clear' }}
    {% endif %}
{% else %}
    {{ 'clear' }}
{% endif %}
{% endmacro %}

{%- macro weather_condition(condition) %}
{%- if 'Fair' in condition or 'fair' in condition %}
    {{- 'sunny' if is_state('sun.sun','above_horizon') else 'clear-night' }}
{%- elif condition == 'Partly Cloudy' or condition == 'partly cloudy' %}
    {{- 'partlycloudy' }}
{%- elif condition == 'Cloudy' or condition == 'cloudy' %}
    {{- 'cloudy' }}
{%- elif 'Thunder' in condition or 'thunder' in condition %}
    {{- 'lightning-rainy' }}
{%- elif 'Shower' in condition or 'shower' in condition %}
    {{- 'rainy' }}
{%- elif 'Rain' in condition or 'rain' in condition %}
    {{- 'pouring' }}
{%- elif 'Wind' in condition or 'wind' in condition %}
    {{- 'windy' }}
{%- else %}
    {{- 'exceptional'}}
{%- endif %}
{%- endmacro %}