{%- macro weather_condition(condition, forecast) %}
{%- if 'Fair' in condition or 'fair' in condition %}
    {{- 'sunny' if (forecast or is_state('sun.sun','above_horizon')) else 'clear-night' }}
{%- elif condition == 'Partly cloudy' or condition == 'Partly Cloudy' or condition == 'partly cloudy' %}
    {{- 'partlycloudy' }}
{%- elif condition == 'Cloudy' or condition == 'cloudy' %}
    {{- 'cloudy' }}
{%- elif 'Thunder' in condition or 'thunder' in condition %}
    {{- 'lightning-rainy' }}
{%- elif 'Shower' in condition or 'shower' in condition %}
    {{- 'pouring' }}
{%- elif 'Rain' in condition or 'rain' in condition %}
    {{- 'rainy' }}
{%- elif 'Wind' in condition or 'wind' in condition %}
    {{- 'windy' }}
{%- elif 'Mist' in condition or 'mist' in condition %}
    {{- 'fog' }}
{%- else %}
    {{- 'exceptional' }}
{%- endif %}
{%- endmacro %}