blueprint:
  name: Motion Automations
  description: Turn on automations when motion is cleared after a period of time.
  domain: automation
  input:
    room:
      name: Room
      description: The room to turn on motion automations
      selector:
        select:
          options:
            - label: Parents' Room
              value: parents_room
            - label: Master Bathroom
              value: master_bathroom
            - label: Kitchen
              value: kitchen
            - label: Study Room
              value: study_room
            - label: Living Room
              value: living_room
            - label: Dining Room
              value: dining_room
            - label: Playroom
              value: playroom
            - label: Yard
              value: yard
            - label: Hallway
              value: hallway
            - label: Powder Room
              value: powder_room
            - label: Junior Bathroom
              value: junior_bathroom
            - label: Eli's Room
              value: elis_room
            - label: Elena's Room
              value: elenas_room
          multiple: true
    motion_sensor:
      name: Motion Sensor
      description: When motion is cleared by this sensor for the indicated time, the automations may turn on.
      selector:
        entity:
          domain: binary_sensor
          device_class: 
            - motion
            - occupancy
    time_period:
      name: Time Period
      description: The amount of time that the motion sensor must be clear.
      selector:
        number:
          min: 15
          max: 60
          unit_of_measurement: min
      default: 15
    entities_list:
      name: Entities to Track
      description: A list of entities.  If the automations should not turn on  when any of these entities are on even if motion is detected, specify them here.  Otherwise, leave blank.
      selector:
        entity:
          multiple: true
      default: []
    doors_list:
      name: Doors to Track
      description: A list of doors or door groups.  If the automations should not turn on when all the doors are closed even if motion is detected (useful in bedrooms when someone is sleeping), specify the doors here.  Otherwise, leave blank.
      selector:
        entity:
          domain: binary_sensor
          device_class: door
          multiple: true
      default: []
trigger:
  - platform: state
    entity_id: !input motion_sensor
    from: "on"
    to: "off"
    for:
      minutes: !input time_period
trigger_variables:
  doors: !input doors_list
  entities: !input entities_list
condition:
  - "{{ doors | length == 0 or 'on' in states | selectattr('entity_id', 'in', doors) | map(attribute = 'state') | list }}"
  - "{{ ['off'] * entities | length == states | selectattr('entity_id', 'in', entities) | map(attribute = 'state') | list }}"
action:
  - variables:
      rooms: !input room
      room_cover_automation:
        elenas_room: automation.elenas_room_curtains_auto_control
        elis_room: automation.elis_room_curtains_auto_control
        dining_room: automation.south_facing_blinds_auto_control
        living_room: automation.south_facing_blinds_auto_control
        study_room: automation.south_facing_blinds_auto_control
        parents_room: automation.parents_room_curtains_auto_control
        master_bathroom: automation.master_bathroom_blind_auto_control
        kitchen: automation.kitchen_blind_auto_control
  - repeat:
      for_each: "{{ rooms }}"
      sequence:
        - action: automation.turn_on
          target:
            entity_id: >
              {{ states.automation | selectattr('entity_id', 'search',
              repeat.item + '_motion') |
              rejectattr('entity_id','search','timeout') | map(attribute =
              'entity_id') | list }}
        - if:
            - condition: template
              value_template: "{{ room_cover_automation[repeat.item] is defined }}"
          then:
            - action: automation.turn_on
              target:
                entity_id: "{{ room_cover_automation[repeat.item] }}"
              data: {}
        - if:
            - condition: template
              value_template: >-
                {{ states('automation.' + repeat.item + '_fan_auto_control') !=
                'unknown' }}
          then:
            - action: automation.turn_on
              target:
                entity_id: "{{ 'automation.' + repeat.item + '_fan_auto_control' }}"
mode: single
max_exceeded: silent